name: Comment Action

on:
  issue_comment:
    types: [created]

jobs:
  post-comment:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@v6

      - name: Post Comment
        uses: ./
